{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Broken Toe{% endblock %}

{% block body %}
  <h2>Viggo Mortensen Broke Two Toes Kicking a Helmet in The Lord of the Rings !</h2>
  <p>Viggo Mortensen broke two toes kicking a helmet in Lotr ! <br>

    Viggo Mortensen’s commitment to The Lord of the Rings trilogy was legendary and sometimes downright painful. While filming The Two Towers, Mortensen’s Aragorn lets out an agonizing cry while kicking a helmet, thinking his friends Merry and Pippin are dead. That wasn’t just acting ! Mortensen’s cry was an absolute scream of pain as he’d broken two toes in the process. <br>

    It’s become a classic Lotr trivia moment, shared (maybe too many times) by fans, but Mortensen’s injury was no small thing. Even director Peter Jackson couldn’t resist a chuckle, noting Mortensen’s reaction as he stayed in character despite his injury. Mortensen kicked that helmet with such force and precision that the pain became part of Aragorn’s journey. <br>

    Mortensen Took ‘Method’ to a New Level
  </p>
{% endblock %}
