
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Height difference{% endblock %}

{% block body %}
  <h2>How 'The Lord of the Rings' Used Forced Perspective to Create Movie Magic </h2>
  <p>
    “Forced perspective” may sound like a technical niche; in reality, however, it’s nothing but an optical illusion. You can say it works better because of its old-fashioned charm, but also because it saves a lot of money. <br>

    That’s pretty much the idea that Peter Jackson applied during the making of The Lord of the Rings trilogy (2001-03). CGI was obviously used, and quite extensively so, but when it came to showing different sizes of the Middle-earth creatures, the makers chose to depend on camera placements and handmade props to create optical illusions rather than creating computer-generated imagery <br>

    The motive was obviously cost-cutting, but also because it didn’t compromise the quality. The trick works because our eyes believe what a camera shows us. We accept a visual as we see it, and it doesn’t matter if it’s a carefully arranged (manipulated) illusion. It eventually turned out to be one of the trilogy’s defining aspects.
  </p>
{% endblock %}


