{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Text not known{% endblock %}

{% block body %}
  <h2>‘Lord of the Rings’ director reveals Sean Bean (Boromir) was reading iconic Mordor speech on camera</h2>
  <p>
    Lord of the Rings director Peter Jackson has revealed the story behind Sean Bean’s now-iconic Mordor speech. <br>

    The moment in the first movie The Fellowship of the Ring – which sees character Boromir declare “one does not simply walk into Mordor…” – has become one of the biggest internet memes over the last two decades. <br>

    During a cast reunion for Josh Gad’s Reunited Apart series, Jackson admitted that the speech was actually written at the last minute, the night before. <br>

    “That entire speech that Sean had to deliver at the council of Elrond was written the night before,” he explained. “We gave it to Sean the morning he arrived. What Sean did, which I thought was very clever, is he got a print-out of the speech taped to his knee. 
  </p>
{% endblock %}
