<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LoTR Anecdotes !{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <style>
    body {
      padding: 2em;
    }
    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    h1 {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/e01">summary</a>
        <h1>LoTR Movie anecdotes !</h1>
        <div></div>
      </nav>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
